
body {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}
*{
    -webkit-user-drag: none;
    user-select:none;
    font-family: Lato;
    overflow: hidden;
    color: white;
}

#hours_circle {
    border-radius: 100%;
    border:2vw solid black;
    top: 4.5vw;
    left: 4.5vw;
    width: 36vw;
    height: 36vw;
    border-top: 2vw solid white;
    position: absolute;
    z-index: 99;

}
.active{
    background-color: rgba(0,0,0,.6) !important;
}

#minutes_circle {
    border-radius: 100%;
    border: 3vw solid black;
    width: 39vw;
    height: 39vw;
    position: absolute;
    border-top: 3vw solid white;
    top:2vw;
    left: 2vw
}

#hours {
    position: absolute;
    top: 18vw;
    left: 8vw;
}
#minutes{
    position: absolute;
    top:18vw;
    left: 29vw;
}
#colon{
    position: absolute;
    top:18vw;
    left: 23vw;
}

#container {
    position: relative;
    width: 47vw;
    height: 47vw;

}



#twelve_hours {
    position: absolute;
    top:13vw;
    left: 13vw;
    padding: 5px;
    border-radius: 1vw;
    border: 1px solid black;
    z-index: 100;
    cursor:pointer;
}

#twentyfour_hours {
    position: absolute;
    top: 13vw;
    left: 29vw;
    padding: 5px;
    border-radius: 1vw;
    border: 1px solid black;
    z-index: 100;
    cursor:pointer;
}

#am {
    position: absolute;
    top:30vw;
    left: 13vw;
    padding: 5px;
    border-radius: 1vw;
    border: 1px solid black;
    z-index: 100;
    cursor: pointer;
}
.disabled{
    color:grey !important;
    background-color: dimgray !important;
}
#pm {
    position: absolute;
    top:30vw;
    left: 29vw;
    padding: 5px;
    border-radius: 1vw;
    border: 1px solid black;
    z-index: 100;
    cursor: pointer;
}
